<section style="width: 100%; height: 100vh;" class="d-flex justify-content-center align-items-center">


  <form [formGroup]="AddDetails" (submit)="onSubmit()">

    <!-- 2- Declare formArrayName to the wrapper -->
    <div formArrayName="skills" >

      <label for="skills">
        Skills
      </label>


      <!-- - Loop through the control of formarray type on that input u want to add  -->
      <!-- We are using the function to get the controls  -->
      <!-- We are using index to give a same name to formcontrol to each input for validation purpose -->
      <div style="margin: 10px 0;" *ngFor="let skill of getSkillsControls().controls; let i = index" >
        <input type="text" name="skills" id="skills" formControlName="{{i}}">

        <!-- ToDo Validation not working -- Anyone interseted to correct it just fork and push -->
        <span class="text-danger" *ngIf="skill.invalid && skill.touched">
          Field is Required
        </span>

        <button type="button" class="btn-btn-danger"  (click)="removeSkills(i)" >Remove skill</button>
      
      </div>

      <button type="button" class="btn btn-primary" (click)="addSkills()">Add skills</button>
    </div>

    <button type="submit" >Submit</button>
  </form>



</section>